{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Date of creation" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
                <a href="{% url 'user_update' user.pk %}">{% trans "Update" %}</a>
                <br>
                <a href="{% url 'user_delete' user.pk %}">{% trans "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}